<div class="w3-top">
  <div class="w3-bar w3-black w3-card-2">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
          <a href="{% url 'lab-4:index' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">HOME</a>
          <a href="{% url 'lab-4:index' %}#form" class="w3-bar-item w3-button w3-padding-large w3-hide-small">FORM</a>
          <a href="{% url 'lab-4:result_table' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">MESSAGE TABLE</a>
      </div>
    </div>

  </div>
</div>

<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="{% url 'lab-4:index' %}" class="w3-bar-item w3-button w3-padding-large">HOME</a>
  <a href="{% url 'lab-4:index' %}#form" class="w3-bar-item w3-button w3-padding-large">FORM</a>
  <a href="{% url 'lab-4:result_table' %}" class="w3-bar-item w3-button w3-padding-large">MESSAGE TABLE</a>
</div>