{% extends "lab_10/layout/base.html" %} {% block content %}
<div class="row">
  <div class="movie-info">
    <h1>{{ movie.title }} ({{movie.year}}) <h1>
      <h4>Language: {{movie.language}}</h4>
    <img src={{movie.poster}}>
  </div>
  <div class="movie-detail">
    <br>
    <h3><strong>Plot</strong></h3>
    <p>{{movie.plot}}</p>
    <br>
    <h5><strong>Actor</strong></h3>
    <p>{{movie.actors}}</p>
    <h5><strong>Writer</strong></h3>
    <p>{{movie.writer}}</p>
    <h5><strong>Director by</strong></h3>
    <p>{{movie.director}}</p>
    <br>
    <h5><strong>Rated</strong></h3>
    <p>{{movie.rated}}</p>
    <h5><strong>Duration</strong></h3>
    <p>{{movie.runtime}}</p>
    <br>
    <h5><strong>Premiere</strong></h3>
    <p>{{movie.released}}</p>
    <h5><strong>Awards</strong></h3>
    <p>{{movie.awards}}</p>
    <h5><strong>Metascore</strong></h3>
    <p>{{movie.metascore}}</p>
    <h5><strong>IMDb</strong></h3>
    <p>{{movie.imdbrating}}</p>
  </div>


    <!--<p> {{ movie }} </p>-->
    <div class="box">
        {% if added %}
        <button class="btn btn-success"> Added to Watch Later </button>
        {% else %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
    </div>

</div>
{% endblock %}
