{% extends "lab_10/layout/base.html" %} {% block content %}
<style>
  body,
  html {
    padding: 0 10px;
    margin: 0;
    background: #0e0f11;
    color: #ecf0f1;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  h1,
  p {
    text-align: center;
  }

  p {
    width: 100%;
    max-width: 500px;
    margin: auto;
  }

  a:link,
  a:hover,
  a:active,
  a:visited {
    -webkit-transition: color 150ms;
    transition: color 150ms;
    color: #95a5a6;
    text-decoration: none;
  }

  a:hover {
    color: #7f8c8d;
    text-decoration: underline;
  }

  .contain {
    position: absoloute;
    width: 75%;
    margin-left:12.5%;

  }

  .row {
    overflow-y: hidden;
    width: 100%;
  }

  .row::-webkit-scrollbar {
    width: 5px;
  }

  .row::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .row::-webkit-scrollbar-thumb {
    background-color: rgb(134, 9, 9);
  }

  .row__inner {
    -webkit-transition: 450ms -webkit-transform;
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    margin: 70.3125px 0;
    padding-bottom: 10px;
  }

  .tile {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 300px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: 450ms all;
    transition: 450ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }

  .tile__img {
    width: 200px;
    height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .tile__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 10px;
    opacity: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    -webkit-transition: 450ms opacity;
    transition: 450ms opacity;
  }

  .tile:hover .tile__details {
    opacity: 1;
  }

  .tile:hover .tile__media{
    opacity: 0.2;
  }

  .tile__title {
    position: absolute;
    bottom: 0;
    padding: 10px;
  }

  .row__inner:hover {
    -webkit-transform: translate3d(-62.5px, 0, 0);
    transform: translate3d(-62.5px, 0, 0);
  }

  .row__inner:hover .tile {
    opacity: 0.3;
  }

  .row__inner:hover .tile:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
  }

  .tile:hover~.tile {
    -webkit-transform: translate3d(125px, 0, 0);
    transform: translate3d(125px, 0, 0);
  }
</style>
<div class="contain">

  <h1>Watch Later</h1>

  <p>Movie you want to watch!</p>

  <div class="row">
    <div class="row__inner">
      {% for movie in watch_later_movies%}
      <div class="tile" value="{{movie.imdbid}}">
        <div class="tile__media">
            {% if movie.poster|length > 3 %}
            <img class="tile__img" src="{{ movie.poster }}" alt="" />
            {% else %}
            <img class="tile__img" src="https://i.pinimg.com/originals/d3/8b/c3/d38bc38ad9ba60f9091aa2a9b3f4190f.png" alt="" />
            {% endif %}
        </div>
        <div class="tile__details">
          <div class="tile__title">
            <h2>({{movie.year}})</h2>
            <p>{{movie.title}}</p>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(".tile").click(function(){
  location.href = "/lab-10/movie/detail/"+$(this).attr('value')+"/"
});
</script>
{% endblock %}
