{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2>Fasilkom friends</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        var deleteFriend = function (npm) {
          $.ajax({
            method: "POST",
            url: '{% url "lab-7:delete-friend" %}',
            data: {
              npm: npm
                  },
            success: function(data){
              console.log(npm);
              $('#friend-'+npm).remove();
            },
            error: function (error){
              alert(error.responseText);
            }
          });
        }

        $( document ).ready(function () {
            $.ajax({
                method: "GET",
                url: "{% url 'lab-7:get-friend-list' %}", // update
                success: function (response) {
                  console.log(response);
                  $.each(response['results'], function(index, friend){
                    console.log(friend);
                    var button = '<span class="pull-right">'+
                                    '<button type="button" class="btn btn-xs btn-danger"'+
                                    'onClick="deleteFriend' + "('"+friend.npm+"')"+ '">'+
                                        '&times;'+
                                    '</button>'+
                                 '</span>';

                    var html = '<a class="list-group-item clearfix" id="friend-' + friend.npm + '">'+
                                friend.friend_name +
                                ' (' + friend.npm + ')' + button + '</a>';
                    $("#friend-list").append(html)
                  });
                },
                error: function(error){
                    //tampilkan pesan error
                }
            });
        });
    </script>
{% endblock %}
